*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: #252525;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius: 50px;
}

@font-face {
    font-family: Brittany;
    src: url(fonts/brittany_signature/BrittanySignature.ttf);
}

@font-face {
    font-family: Cairo;
    src: url(fonts/Cairo-VariableFont_wght.ttf);
}

@font-face {
    font-family: Disney;
    src: url(fonts/NewWaltDisneyUi-8YdA.ttf);
}

@font-face {
    font-family: Tehran;
    src: url('fonts/Hacen_Tehran.ttf');
}

@font-face {
    font-family: Arbaeen;
    src: url('fonts/Arbaeen.ttf');
}
/* The first Header */

header{
    height: 10vh;
    width: 100%;
    background-color: #fff;
    /* border-radius: 0 0 50px 0;  i remove this 'Younes'*/
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    /* added by younes */
    position: fixed;
    box-shadow:2.5px 1.5px 6px #555;
}

header .head{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* the languages */

header nav{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header nav .lang{
    background-color: #000;
    border: 1px solid #000;
    transition: .3s;
}

header nav .lang:hover{
    background-color: #fff;
}

header nav .lang:hover a.active{
    color: #000;
}


header nav .lang a{
    font-family: Cairo;
    padding: 0.7rem;
    color: #ccc;
    transition: .3s;
}

header nav .lang a.active{
    color: #fff;
}

header nav span{
    font-family: Cairo;
    font-size: 1.2rem;
}

/* icon clock */

header nav div svg{
    width: 2rem;
}

/* *********************** */

.head svg{
    width: 40px;
    cursor: pointer;
}

.head span{
    font-family: Disney;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.head span sup{
    font-size: 0.7rem;
    font-family: Brittany;
}

/* The second header */

.head2{
    position: fixed;
    top: 0px;
    left: -300px;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    border-radius: 0 20px 50px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow: hidden;
    transition: .5s;
}


.head2.open-menu{
    left: 0px;
    z-index: 2;
}

.head2 .hyperlien{
    height: 500px;
    width: 100%;
    padding-left: 30%;
    padding-top: 40%;
}


.head2 .registration ul,
.head2 .hyperlien ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.head2 .registration ul li,
.head2 .hyperlien ul li{
    display: flex;
    transition: .3s all;
}

.head2 .hyperlien ul li .active{
    stroke: #000;
}

.head2 .registration ul li svg,
.head2 .hyperlien ul li svg{
    width: 30px;
    position: absolute;
    /* z-index: 3; */
    left: 40px;
    /* cursor: pointer; */
    stroke: #555;
}

.head2 .registration ul li button,
.head2 .hyperlien ul li a{
    color: #000;
    font-size: 20px;
    font-family: Cairo;
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-top: -5px;
    transition: .3s;
}

.head2 .registration ul li button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.head2 .registration ul li button:hover,
.head2 .hyperlien ul li a:hover{
    background-color: #000;
    border-radius: 50px;
    transform: translateX(10px);
    color: #fff;
}

.head2 .hyperlien ul li .icon,
.head2 .registration ul li .icon{
    transition: 1s;
}

.head2 .hyperlien ul li:hover .icon,
.head2 .registration ul li:hover .icon{
    transform: rotate(360deg);
}


.head2 .registration{
    width: 100%;
    height: 130px;
    padding-left: 30%;
    margin-bottom: 20px;
}


/* ********************************************************** */

/* Form of Login and Sign Up */

section{
    width: 100%;
    height: 80vh;
    position:relative;
}

.boxLogin,
.boxSignIn{
    position: fixed;
    left: 33%;
    top: 20%;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 20px 150px;
    visibility: hidden;
    transform: scale(0.0001);
    transition: .3s;
}

.boxLogin{
    left: 35%;
    top: 25%;
}

.boxLogin{
    height: 450px;
    width: 450px;
    justify-content: space-between;
    padding: 2% 0;
}

.boxLogin-popup,
.boxSignIn-popup{
    visibility: visible;
    transform: scale(1);
    z-index: 2;
}

.boxLogin form,
.boxSignIn form{
    display: flex;
    flex-direction: column;
}

.boxLogin .group-form,
.boxSignIn .group-form{
    margin-top: 20px;
    position: relative;
    width: 90%;
    text-align: center;
    left: 5%;
}

.boxLogin .group-form{
    width: 160%;
    left: -60px;
}

.boxLogin .group-form:nth-child(1){
    bottom: 2%;
}

.boxLogin .liens{
    margin-bottom: 20px;
}

.boxLogin .group-form input,
.boxSignIn .group-form input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 0;
    border: none;
    border-bottom: 1.5px solid black;
    outline: none;
    resize: none;
    background-color: rgba(0, 0, 0, 0);
}

.boxLogin .group-form input{
    margin-bottom: 2%;
}


.boxLogin .group-form:nth-child(2){
    margin-bottom: 30px;
}

.boxLogin .group-form span,
.boxSignIn .group-form span{
    position: absolute;
    left: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
    color: #666;
    padding: 5px 0;
    margin: 10px 0px;
    pointer-events: none;
    transition: 0.5s;
}

.boxLogin .group-form span{
    margin: 13px 0;
}

.boxLogin .group-form input[type=email]:focus ~ span,
.boxLogin .group-form input[type=email]:valid ~ span,
.boxLogin .group-form input:focus ~ span,
.boxLogin .group-form input:valid ~ span
.boxSignIn .group-form input[type=email]:focus ~ span,
.boxSignIn .group-form input[type=email]:valid ~ span,
.boxSignIn .group-form input:focus ~ span,
.boxSignIn .group-form input:valid ~ span{
    color: #000;
    font-size: 12px;
    font-weight: lighter;
    transform: translateY(-25px);
}

.boxLogin .group-form input[type=submit],
.boxSignIn .group-form input[type=submit]{
    width: 80%;
    padding: 15px;
    margin-left: 50px;
    background-color: #000;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 0 150px;
    transition: .3s;
}

.boxLogin .group-form input[type=submit]{
    width: 90%;
    margin-top: 15px;
    margin-bottom: -8px;
}

.boxLogin .group-form input[type=submit]:hover,
.boxSignIn .group-form input[type=submit]:hover{
    background-color: transparent;
    color: #000;
}

.Name{
    display: flex;
    gap: 20px;
    width: 90%;
}

.liens a{
    display: inline;
    text-decoration: underline;
    font-size: 12px;
}

.headForm{
    width: 100%;
}

.boxSignIn .headForm{
    margin-top: 20px;
}

.headForm li{
    display: flex;
}

.boxSignIn .headForm span,
.boxLogin .headForm span{
    font-size: 26px;
    font-weight: bold;
    font-family: Brittany;
    position: relative;
}

.boxLogin .headForm span{
    left: 25%;
}

.boxSignIn .headForm span{
    left: 25%;
}

.boxLogin .icon,
.boxSignIn .icon{
    align-self: flex-start;
    cursor: pointer;
}

.boxLogin .icon{
    margin-left: 25px;
}

.boxSignIn .icon{
    margin-left: 40px;
}

.liens{
    width: 160%;
    display: flex;
    justify-content: space-between;
}

.boxLogin .liens{
    margin-left: -60px;
}

.boxSignIn .liens{
    margin-left: 22px;
    margin-top: 5px;
}



/* ***********************************
***********************************
*********************************** */

/* Contact browser */

.contact{
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 90vh;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

/* the line between contact form & contact elements */

.contact .line{
    width: 2px;
    height: 500px;
    background-color: #fff;
    border-radius: 30%;
}

/* the form of the contact */

.contact .ContactForm{
    width: 600px;
    height: 400px;
}

.ContactForm form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.ContactForm h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: lighter;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 35px;
    text-transform: uppercase;
}

.ContactForm .box{
    width: 100%;
    display: flex;
    gap: 50px;
    padding: 0 8%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.ContactForm .group-form{
    margin-top: 25px;
    position: relative;
    width: 100%;
    text-align: center;
    left: 0%;
}

.ContactForm .group-form textarea,
.ContactForm .group-form input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    resize: none;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}

.ContactForm .group-form textarea{
    width: 85%;
}

.ContactForm .group-form:nth-child(3) span{
    margin-left: 45px;
}

.ContactForm .group-form span{
    position: absolute;
    left: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    padding: 5px 0;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
}

.ContactForm .group-form input[type=email]:focus ~ span,
.ContactForm .group-form input[type=email]:valid ~ span,
.ContactForm .group-form textarea:focus ~ span,
.ContactForm .group-form textarea:valid ~ span,
.ContactForm .group-form input:focus ~ span,
.ContactForm .group-form input:valid ~ span{
    color: #fff;
    font-size: 12px;
    transform: translateY(-20px);
}

.ContactForm .group-form input[type=submit]{
    width: 85%;
    padding: 15px;
    background-color: #fff;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    border: 1px solid #fff;
    cursor: pointer;
    margin-top: 30px;
    transition: .3s;
}

.ContactForm .group-form input[type=submit]:hover{
    background-color: transparent;
    color: #fff;
}


/* the elements of the contact */

.contact .ContactElements{
    width: 500px;
    height: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .3s;
}

.contact .ContactElements.off,
.ContactElements h1.off,
.BoxElementContainer .BoxElement .BoxElementTitle svg.off,
.BoxElementContainer .BoxElement .BoxElementTitle span.off,
.BoxElementContainer .BoxElement  a.off{
    transform: scale(0.0001);
    visibility: hidden;
}

.BoxElementContainer{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.ContactElements h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    font-weight: lighter;
    color: #000;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 35px;
    text-transform: uppercase;
}

.BoxElementContainer .BoxElement .BoxElementTitle{
    display: flex;
    justify-content: center;
    margin-bottom: -15px;
}

.BoxElementContainer .BoxElement .BoxElementTitle svg{
    width: 2rem;
    padding-bottom: 23px;
    margin-right: 10px;
}

.BoxElementContainer .BoxElement .BoxElementTitle span{
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.BoxElementContainer .BoxElement a{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
    letter-spacing: 1px;
    color: #000;
    transition: .3s;
}

.BoxElementContainer .BoxElement a:hover{
    color: lightblue;
}

.BoxElementContainer .BoxElement .icon{
    width: 2rem;
    cursor: pointer;
}

/* ***************************************** */

.contact2{
    width: 100%;
    height: 80vh;
    background-color: #fff;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 100vh;
    overflow: hidden;
    background-color: #000;
    padding-left: 2%;
    padding-right: 15%;
}

.contact2 #map{
    width: 40%;
}

/* Social media  */

.contact2 .media{
    width: 40%;
    height: 25rem;
}

.media h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    font-weight: lighter;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 35px;
    text-transform: uppercase;
}

.media .mediaContainer{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.mediaContainer .mediaBox a{
    display: flex;
}

.mediaContainer .mediaBox a svg{
    margin-left: 20px;
    padding-bottom: 20px;
    stroke: #fff;
}

.mediaContainer .mediaBox a span{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.mediaContainer .mediaBox a span:hover{
    color: lightblue;
}


/* ***********************************
***********************************
*********************************** */

/* About browser */

.AboutUs{
    height: 90vh;
    width: 100%;
    position: absolute;
    top: 10vh;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* Title of About Browser */
.AboutTitle{
    width: 30%;
    height: 90%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.AboutTitle .Title{
    transform: rotate(-90deg);
    text-align: center;
}

.AboutTitle .Title span{
    font-size: 5.5rem;
    font-weight: bold;
    font-family: Tehran, sans-serif;
    text-transform: uppercase;
    color: #000;
}

.AboutTitle .Contact a{
    font-size: 1rem;
    font-weight: bold;
    font-family: Tehran, sans-serif;
    text-transform: uppercase;
    color: #000;
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
}


/* Container of About Browser */
.AboutContent{
    width: 50%;
    height: 90%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.AboutContent .ContentTitle span{
    font-size: 3rem;
    font-family: Disney, 'Marhey',Cairo, cursive;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.AboutContent .ContentParagraphs p{
    color: #fff;
    line-height: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Indie Flower',Arbaeen, cursive;
    padding: 1rem 0;
}

.AboutContent .ContentMedia{
    width: 35%;
    display: flex;
    justify-content: space-around;
}

.AboutContent .ContentMedia a svg{
    transition: .3s;
}

.AboutContent .ContentMedia a svg:hover{
    transform: scale(1.2);
    stroke: #fff;
}

footer.AboutFooter{
    position: absolute;
    top: 100vh;
    height: 70vh;
}

/* ***********************************
***********************************
*********************************** */

/* Hosting browser */


.HostingPage{
    width: 100%;
    position: absolute;
    top: 10vh;
}

.HostingPage .Box{
    width: 100%;
    height: 70vh;
    background-color: #fff;
    display: flex;
}

/* Partie d'image */
.Box .Image{
    width: 50%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Box .Image img{
    width: 80%;
    transition: .3s;
}

.Box .Image img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.Box .Image #spa{
    width: 50%;
}

.Box .Image #piscine{
    width: 55%;
}

.Box .Image #kitchen{
    width: 90%;
}

/* Partie de description */
.Box .Desc{
    width: 50%;
    height: 100%;
    padding: 8% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;   
}

.Box .Desc .DescFils{
    width: 100%;
    height: 130%;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
    padding: 10vh 0;
}

.Box .Desc span{
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    text-transform: uppercase;
}

.Box .Desc p{
    text-align: center;
    line-height: 1.5rem;
    font-family: 'Indie Flower', cursive;
    margin: 2% 0;
    padding: 0 5%;
    color: #000;
}

.Box .Desc a{
    font-family: Cairo;
    font-size: 1rem;
    color: #252525;
    text-decoration: underline;
}

.HostingPage .Box:nth-child(even){
    flex-direction: row-reverse;
}


/* ***********************************
***********************************
*********************************** */

/* Home browser */

.HomePage{
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    animation: transform 60s infinite ease;
}

.HomePage .HomePageDesc{
    position: relative;
    width: 55%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

@keyframes transform {
    0%{
        background-image: url("images/bg1.jpg");
    }
    20%{
        background-image: url("images/Hotel.jpg");
    }
    40%{
        background-image: url("images/kitchen.jpg");
    }
    60%{
        background-image: url("images/restaurant.jpg");
    }
    80%{
        background-image: url("images/room.jpg");
    }
    100%{
        background-image: url("images/parking.jpg");
    }
}

.HomePage .HomePageDesc:before{
    content: '';
    position: absolute;
    top: -1rem;
    left: -1rem;
    right: -1rem;
    bottom: -1rem;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    filter: blur(4px);
    animation: transform 60s infinite ease;
}

/* Partie d'accueilir */

.HomePage .HomePageDesc .Welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HomePage .HomePageDesc .Welcome span{
    position: relative;
    font-size: 6rem;
    font-family: Disney, 'Marhey', cursive;
    font-weight: bold;
    color: #fff !important;
    z-index: 1;
    text-transform: uppercase;
}

.HomePage .HomePageDesc .Welcome p{
    position: relative;
    text-align: center;
    z-index: 1;
    font-size: 1.2rem;
    font-family: Cairo;
    color: #fff;
    padding: 0 4%;
}

/* Partie des buttons */

.HomePage .HomePageDesc .buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}

.HomePage .HomePageDesc .buttons .box{
    transition: .3s;
}

.HomePage .HomePageDesc .buttons .box:hover{
    transform: scale(1.1);
}

.HomePage .HomePageDesc .buttons .box a{
    position: relative;
    font-family: Cairo;
    font-size: 1.2rem;
    color: #ffffff;
    z-index: 1;
    border: 1px solid #fff;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    transition: .3s;
}

.HomePage .HomePageDesc .buttons .box #hostingButton,
.HomePage .HomePageDesc .buttons .box #bookingButton{
    background-color: rgba(255, 255, 255, 0.16) !important;
}

.HomePage .HomePageDesc .buttons .box #hostingButton:hover,
.HomePage .HomePageDesc .buttons .box #bookingButton:hover{
    background-color: transparent;
}


/* To bottom */

.HomePage .button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 90vh;
}

.HomePage .button svg{
    stroke: #fff;
    cursor: pointer;
}

.HomePage .button svg:hover{
    animation: jump 0.5s infinite both ease;
}

@keyframes jump{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
    }
}

/* main of home */

.HomeMain{
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 100vh;
}

/* Description Hotel */

.HomeMain .HotelDesc{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

.HomeMain .HotelDesc .box{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.HomeMain .HotelDesc .box .HotelDescValue{
    padding: 1rem;
}

.HomeMain .HotelDesc .box .HotelDescValue span{
    font-size: 1.5rem;
    font-weight: bold;
    color: #252525;
}

.HomeMain .HotelDesc .box .HotelDescLigne{
    width: 100%;
    border-top: 1px solid #000;
    
}

.HomeMain .HotelDesc .box .HotelDescValue{
    display: flex;
    justify-content: center;
    align-items: center;
}

.HomeMain .HotelDesc .box .HotelDescValue svg{
    width: 1.5rem;
    margin-bottom: -1rem;
    stroke: #252525;
}

.HomeMain .HotelDesc .box .HotelDescTitle{
    padding: 1rem;
}


.HomeMain .HotelDesc .box .HotelDescTitle span{
    font-size: 1.5rem;
    font-weight: bold;
    color: #252525;
}

/* Services of the hotel */

.HomeMain .HotelServices{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

.HomeMain .HotelServices .HotelServiceBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    width: 40%;
    padding: 0 3%;
    overflow: hidden;
}

.HomeMain .HotelServices .HotelServiceBox .HotelServiceBoxTitle{
    padding-top: 2rem;
}

.HomeMain .HotelServices .HotelServiceBox .HotelServiceBoxTitle span{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
}

.HomeMain .HotelServices .HotelServiceBox .HotelServiceBoxServices{
    padding: 1rem 1rem;
}

.HomeMain .HotelServices .HotelServiceBox .HotelServiceBoxServices ul li{
    display: flex;
    align-items: center;
}

.HomeMain .HotelServices .HotelServiceBox .HotelServiceBoxServices ul li span{
    display: flex;
    align-items: center;
    font-family: Cairo;
}
/* **************************** */

.HomeMain .HotelServices .HotelServiceBox .HotelServiceBoxServices ul li svg{
    width: 2rem;
    margin-right: .5rem;
}


.HomeMain .HotelServices .HotelServiceBox .HotelServiceBoxToHosting{
    align-self: center;
    padding-bottom: 2rem;
}

.HomeMain .HotelServices .HotelServiceBox .HotelServiceBoxToHosting a{
    color: #252525;
    text-decoration: underline;
}

/* **************************** */

.HomeMain .HotelServices .HotelServiceBox .HotelServiceBoxServices ul.ReasonsList li svg{
    width: 1rem;
}

/* locations for tourists */

/* ************* Title **************** */

.HomeMain .toTourism{
    width: 100%;
    height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    animation: transform 60s infinite ease;
}

.HomeMain .toTourism .toTourismTitle span{
    font-size: 4rem;
    font-weight: bold;
    font-family: Cairo;
    color: #fff;
    filter: drop-shadow(0 0 16px #000);
}

/* ************ Locations *************** */

.HomeMain .toTourism .locations{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.HomeMain .toTourism .locations .item{
    width: 20%;
    height: 95%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 16px #000;
}

.HomeMain .toTourism .locations .item .itemBG{
    width: 100%;
    height: 40%;
    transition: .3s;
}

.HomeMain .toTourism .locations .item .itemDesc{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.HomeMain .toTourism .locations .item .itemBG:hover{
    height: 60%;
}
/* ************* setting backgrounds ************** */

.HomeMain .toTourism .locations .item1 .itemBG{
    background-image: url("images/ain\ asserdoun.jpg");
    background-position: center;
    background-size: cover;
}



.HomeMain .toTourism .locations .item2 .itemBG{
    background-image: url("images/bel\ ouidane.jpg");
    background-position: center;
    background-size: cover;
}

.HomeMain .toTourism .locations .item3 .itemBG{
    background-image: url("images/ain\ asserdoun.jpg");
    background-position: center;
    background-size: cover;
}

.HomeMain .toTourism .locations .item4 .itemBG{
    background-image: url("images/bel\ ouidane.jpg");
    background-position: center;
    background-size: cover;
}

/* ************* setting the description ************* */

.HomeMain .toTourism .locations .item .itemDesc .itemDescTitle{
    padding-bottom: 1rem;
}

.HomeMain .toTourism .locations .item .itemDesc .itemDescTitle span{
    font-family: Cairo;
    font-size: 1.1rem;
    font-weight: bold;
}

.HomeMain .toTourism .locations .item .itemDesc .itemDescParagraph{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.HomeMain .toTourism .locations .item .itemDesc .itemDescParagraph p{
    text-align: center;
    font-family: Cairo;
    font-size: 1rem;
}

.HomeMain .toTourism .locations .item .itemDesc .itemDescLien a{
    font-family: Cairo;
    font-size: 0.9rem;
    color: #252525;
    text-decoration: underline;
}

/* footer */
footer{
    height: 70vh;
    width: 100%;
    background-color: #252525;
    padding: 0 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer .FooterInfos{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .FooterInfos .FooterInfosBox{
    width: 20%;
}

footer .FooterInfos .Box2{
    width: 40%;
    text-align: center;
}

footer .FooterInfos .FooterInfosBox .FooterInfosBoxTitle{
    padding: 1rem 0;
}

footer .FooterInfos .FooterInfosBox .FooterInfosBoxTitle span{
    font-family: Cairo;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

footer .FooterInfos .Box1,
footer .FooterInfos .Box3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .FooterInfos .Box1 .FooterInfosBoxLien ul li,
footer .FooterInfos .Box3 .FooterInfosBoxLien a{
    margin-left: 4rem;
}

footer .FooterInfos .FooterInfosBox .FooterInfosBoxLien ul li{
    display: flex;
    align-items: center;
}


footer .FooterInfos .FooterInfosBox .FooterInfosBoxLien a{
    font-family: Cairo;
    font-size: 1rem;
    color: #ccc;
    transition: .3s;
}

footer .FooterInfos .FooterInfosBox .FooterInfosBoxLien a:hover{
    color: #fff;
}

footer .FooterInfos .Box2 .FooterInfosBoxLien ul{
    display: flex;
    justify-content: space-around;
}

footer .FooterInfos .FooterInfosLigne{
    height: 80%;
    border-right: 1px solid #fff;
}

footer .FooterLigne{
    width: 80%;
    border-top: 1px solid #fff;
}

footer .FooterCopyrights span{
    color: #ccc;
    font-family: Cairo;
    font-size: 1rem;
}

footer .FooterLogo span{
    font-size: 5rem;
    font-family: Disney;
    color: #ccc;
}

/* ***********************************
***********************************
*********************************** */

/* Calling Service browser */

.SupportPage{
    height: 90vh;
    width: 100%;
    position: absolute;
    top: 10vh;
    display: flex;
    flex-direction: column;
}

/* The background */

.SupportPage .background{
    width: 100%;
    height: 50%;
    background-image: url("images/bg1.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SupportPage .background .Title{
    padding: 1rem;
}

.SupportPage .background .Title span{
    font-size: 3rem;
    font-family: Cairo;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: .1rem;
    filter: drop-shadow(0 0 16px rgba(0, 0, 0, 5));
}

.SupportPage .background .Description p{
    color: #ffffff;
    font-size: 1rem; 
    filter: drop-shadow(0 0 16px rgba(0, 0, 0, 5));
}



/* The two boxes */

.SupportPage .Infos{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    padding: 0 4%;
    background-color: #fff;
}

.SupportPage .Infos .box{
    width: 30%;
    height: 95%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -4rem;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.SupportPage .Infos .box div{
    padding: 0.5rem;
}

.SupportPage .Infos .box .Title span{
    font-family: 1.5rem;
    font-family: Cairo;
    font-weight: bold;
}   

.SupportPage .Infos .box .desc p{
    text-align: center;
    font-size: .9rem;
    line-height: 1.2rem;
}   

.SupportPage .Infos .box .link{
    padding-top: 2.5rem;
}

.SupportPage .Infos .box .link #num{
    font-family: 'Courier New', Courier, monospace;
    color: #252525;
    font-weight: bold;
    transition: .3s;
}

.SupportPage .Infos .box .link #num:hover{
    color: lightblue;
}

.SupportPage .Infos .box .link #link{
    color: #fff;
    padding: 1rem 1.8rem;
    border: 1px solid #000;
    background-color: #000;
    transition: .3s;
}

.SupportPage .Infos .box .link #link:hover{
    color: #000;
    background-color: #fff;
}

footer.CallServiceFooter{
    position: absolute;
    top: 100vh;
    height: 70vh;
}