/* *{
    margin: 0px;
    padding: 0px;
}
header {
    width: 100%;
    height:110px;
    display: flex;
    justify-content: space-between;
    background-color: bisque;
}
header div {
    width: fit-content;
    height: fit-content;
    margin: 37px 0px 0px 30px;
    font-size:x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:brown ;
    letter-spacing: 1px;
}
header nav ul{   
    display: flex;
    justify-content: space-between;
    margin: 40px 40px 0px 0px;
}

header nav ul li a{
    width:fit-content ;
    margin: 15px;
    padding: 10px;
    text-decoration: none;
    border:2px rgba(0, 0, 0, 0) solid;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.715);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.4s;
}
header nav ul li a:hover {
    font-size: 17px;
    transition: 0.2s;
    color: black;
}
.sign-out {
    margin:6px 0px 0px 50px;
} */

@font-face {
    font-family: Disney;
    src: url(../BM_Hotel/fonts/NewWaltDisneyUi-8YdA.ttf);
}

@font-face {
    font-family: Cairo;
    src: url(../BM_Hotel/fonts/Cairo-VariableFont_wght.ttf);
}

/* Global */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: #252525;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius: 50px;
}

#Grid-Container{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}

body{
    background-color: #191919;
}

/* ***************************************** */

/* header */

header{
    width: 100%;
    height: 100vh;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    padding: 1rem;
}

/* header::before{
    content: '';
    width: 4rem;
    height: 4rem;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 50px;
} */

/* Logo */
header .Logo{
    display: flex;
    gap: 1rem;
}

header .Logo span{
    font-family: Disney;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
}

/* headers */
header nav{
    padding: 1rem 1rem;
}

header nav ul li{
    width: 150%;
    margin: 1.5rem 0;
    padding: .5rem 1rem;
    border-radius: 30px 0 0 30px;
    transition: .3s;
}

header nav ul li:hover{
    background-color: #fff;
}

header nav ul li:hover a span{
    color: #191919;
}

header nav ul li a{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: Cairo;
    font-size: 1rem;
    letter-spacing: 1px;
    color: #ccc;
    border-radius: 50px;
    transition: .3s;
}

header nav ul li a svg{
    width: 1.5rem;
}

/* Sign out */
header .Out{
    align-self: center;
    margin-top: 2rem;
}

header .Out a{
    font-family: Cairo;
    color: #ccc;
    text-decoration: underline;
    font-size: 1rem;
    font-weight: bold;
    transition: .3s;
}

header .Out a:hover{
    color: #fff;
}

/* ***************************************** */

/* main */

main{
    background-color: #fff;
    overflow: hidden;
}

main .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 50px;
    box-shadow: 0 0 16px #909090;
}

main .box .Title span{
    font-family: Cairo;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #252525;
    padding: 1rem;
}

main .box .Desc{
    padding: 1rem;
}

main .box .Desc p{
    text-align: center;
    font-family: Cairo;
    font-size: 1rem;
    color: #191919;
}

main .box .ToPage{
    padding: 1rem;
}

main .box .ToPage a{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 0 .8rem;
    background-color: #191919;
    border-radius: 30px;
}

main .box .ToPage a span{
    font-family: Cairo;
    font-size: .9rem;
    font-weight: bold;
    text-decoration: underline;
    color: #ccc;
    transition: .3s;
}

main .box .ToPage a svg{
    stroke: #ccc;
    width: 1.5rem;
    transition: .3s;
}

main .box .ToPage a span:hover,
main .box .ToPage a span:hover + svg{
    stroke: #fff;
    color: #fff;
}

main .box .ToPage a span + svg{
    transition: .3s;
}

main .box .ToPage a span:hover + svg{
    transform: rotate(-180deg);
}

main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(15rem,auto);
    gap: 2rem;
}

#child0{
    grid-column: 1 / 3;
    flex-direction: row;
    background-color: #191919;
    color: #fff;
    position: relative;
    border-radius: 0;
    box-shadow: none;
}

#child0::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 0 50px 0 0;
}

#child0 .HotelDesc{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#child0 .HotelDesc .box1{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#child0 .HotelDesc .box1 .HotelDescValue{
    padding: 1rem;
}

#child0 .HotelDesc .box1 .HotelDescValue span{
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

#child0 .HotelDesc .box1 .HotelDescLigne{
    width: 100%;
    border-top: 1px solid #fff;
    
}

#child0 .HotelDesc .box1 .HotelDescValue{
    display: flex;
    justify-content: center;
    align-items: center;
}

#child0 .HotelDesc .box1 .HotelDescValue svg{
    width: 1.2rem;
    margin-bottom: -1rem;
    stroke: goldenrod;
}

#child0 .HotelDesc .box1 .HotelDescTitle{
    padding: 1rem;
}


#child0 .HotelDesc .box1 .HotelDescTitle span{
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    font-family: Cairo;
}